.createpost{
    max-width:500px;
    margin:50px auto;
    border:1px solid black;
    
}
.main-div{
    border-top:1px solid black;
}
.post-header{
    display:flex;
}
#post-btn{
    border:none;
    color:#339ce3;
    background:none;
    font-weight:bolder;
    cursor:pointer;
}
.details{
    border-top:1px solid black;
}textarea{
width:90%;
border:none;
outline:none;
}
#output{
    width:150px;
    border:none;
    outline:none;
    margin-top:5px;
    padding-left:200px;
}