img{
    width:10%

}.navbar{
    display:flex;
    justify-content:space-around;
    box-shadow:1px 5px 5px #e0dcdc
}
.nav-mobile{
    display:none;

}

ul{
    display:flex;
}li{
    list-style:none;
    padding: 1px 15px;
    text-decoration:none;
    color:red;
    font-size:18px;
}

@media screen and (max-width:800px){
    #insta-logo{
        display:none;
    }
    .nav-menu{
        display:none;
    }
    .nav-mobile{
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .navbar{
        width:100%;
        position:fixed;
        bottom:0;
        left:0;
        background-color:#fff;
        box-shadow:0px -2px 5px #fff;
    }
    .navbar ui{
        margin:0;
        padding:10px 0px;
    }
}