img{
    width:10%

}.navbar{
    background-color:light white;
    display:flex;
    justify-content:space-around;
    box-shadow:1px 5px 5px #e0dcdc
}
.nav-mobile{
    display:none;

}

ul{
    display:flex;
}li{
    list-style:none;
    padding: 1px 15px;
    text-decoration:none;
    color:red;
    font-size:18px;
}

@media screen and (max-width:800px){
    #insta-logo{
        display:none;
    }
    .nav-menu{
        display:none;
    }
    .nav-mobile{
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .logo-text {
        font-size: 28px;
        font-weight: bold;
        color: #4CAF50; /* You can choose your brand color */
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 20px;
        transition: color 0.3s ease;
      }
      
      
      .logo-text:hover {
        color: #388E3C; /* Hover color */
      }
      
    .navbar{
        width:100%;
        position:fixed;
        bottom:0;
        left:0;
        background-color:#fff;
        box-shadow:0px -2px 5px #fff;
    }
    .navbar ui{
        margin:0;
        padding:10px 0px;
    }
}